<section class="w-screen md:w-full md:px-6.5 py-4.5 overflow-hidden">
  <div
    class="flex w-full justify-between items-center mb-3.5 px-3.75 sm:px-0"
  >
    <h1 class="text-2xl sm:text-3xl font-bold">Camino de la Maestría</h1>

    <div class="flex items-center gap-3">
      <button
        pButton
        severity="secondary"
        outlined
        class="rounded-xl"
        [loading]="isDownloadingReport()"
        (click)="onDownloadReport()"
        title="Descargar reporte de Excel"
      >
        <i-lucide
          pButtonIcon
          [img]="downloadIcon"
          class="fill-white size-5 md:size-6"
        />
        <span pButtonLabel class="hidden sm:inline-flex"
          >Descargar reporte</span
        >
      </button>

      <button
        pButton
        severity="danger"
        class="rounded-xl"
        [loading]="isExperienceSessionEndingLoading()"
        (click)="onEndOfExperienceSession()"
      >
        <i-lucide
          pButtonIcon
          [img]="stopIcon"
          class="fill-white size-5 md:size-6"
        />
        <span pButtonLabel class="hidden sm:inline-flex"
          >Concluir experiencia</span
        >
      </button>
    </div>
  </div>

  <div class="flex-col md:flex-row flex md:items-start gap-4 md:gap-6 md:px-0">
    <div class="md:flex-1 md:w-full">
      <h2 class="hidden sm:block text-lg text-gray-700 font-bold mb-2">
        Estudiantes
      </h2>

      <div class="overflow-x-auto md:overflow-visible w-full px-3.75 md:px-0">
        <p-table
          scrollHeight="700px"
          [value]="studentsRanking()"
          [loading]="isStudentsLoading()"
          [scrollable]="true"
          [tableStyle]="{ 'min-width': '35rem' }"
        >
          <ng-template #header>
            <tr class="text-sm sm:text-base">
              <th pFrozenColumn>Nombre completo</th>
              <th>Ranking</th>
              <th>Nivel</th>
              <th>Nota academica</th>
              <th>
                <div class="flex items-center gap-3">
                  <span>Puntaje</span>
                  <p-button
                    rounded
                    severity="success"
                    styleClass="aspect-square size-[30px] sm:size-[32px]"
                    size="small"
                    title="Aplicar cambios a todos"
                    (click)="onApplyAllPointsChanges()"
                    [disabled]="!hasEditingStudentsPoints() || isSavingPoints()"
                  >
                    <i-lucide
                      pButtonIcon
                      [img]="applyAllIcon"
                      class="size-5 sm:size-6"
                    />
                  </p-button>
                </div>
              </th>
              <th>Acciones</th>
            </tr>
          </ng-template>

          <ng-template #body let-student>
            <tr>
              <td pFrozenColumn class="text-sm sm:text-base min-w-30">
                {{ student.state.lastName }} {{ student.state.firstName }}
              </td>
              <td class="text-sm sm:text-base min-w-12.5">
                <div class="flex items-center gap-2">
                  <span class="text-lg">
                    {{ rankingStyles[student.rank]?.textIcon ?? "🚀" }}
                  </span>
                  <p-tag
                    value="#{{ student.rank }}"
                    styleClass="text-sm sm:text-base {{ rankingStyles[student.rank]?.styleClass ?? 'bg-transparent text-black'}}"
                  />
                </div>
              </td>
              <td class="text-sm sm:text-base min-w-20">
                {{ getLevelName(student.state.levelId) }}
              </td>
              <td class="text-sm sm:text-base min-w-12.5">
                {{ student.vigesimalScore }}
              </td>
              <td>
                <div
                  class="flex items-center gap-4 sm:gap-5 flex-row w-50"
                >
                  <div class="flex items-center gap-0.5">
                    <p-button
                      rounded
                      outlined
                      severity="secondary"
                      styleClass="aspect-square size-[30px] sm:size-[32px]"
                      size="small"
                      title="Disminuir puntaje"
                      (click)="onDecrementPoints(student.state)"
                      [disabled]="
                        isSavingPoints() || getDisplayPoints(student.state) <= 0
                      "
                    >
                      <i-lucide
                        pButtonIcon
                        [img]="minusIcon"
                        class="size-5 sm:size-6"
                      />
                    </p-button>

                    @if (
                      getEditingStudent(student.state.id);
                      as editingStudent
                    ) {
                      <span
                        class="font-bold text-sm md:text-base min-w-10 text-center {{
                          editingStudent.originalPoints ===
                          editingStudent.currentPoints
                            ? 'text-black'
                            : editingStudent.originalPoints >
                                editingStudent.currentPoints
                              ? 'text-danger-500'
                              : 'text-success-500'
                        }}"
                      >
                        {{ editingStudent.currentPoints }}
                      </span>
                    } @else {
                      <span
                        class="text-sm sm:text-base min-w-9.5 text-center"
                      >
                        {{ student.state.progressPoints }}
                      </span>
                    }

                    <p-button
                      rounded
                      outlined
                      severity="secondary"
                      styleClass="aspect-square size-[30px] sm:size-[32px]"
                      size="small"
                      title="Incrementar puntaje"
                      (click)="onIncrementPoints(student.state)"
                      [disabled]="isSavingPoints()"
                    >
                      <i-lucide
                        pButtonIcon
                        [img]="plusIcon"
                        class="size-5 sm:size-6"
                      />
                    </p-button>
                  </div>

                  @if (getEditingStudent(student.state.id); as editingStudent) {
                    <div class="flex items-center gap-2">
                      <p-button
                        rounded
                        outlined
                        severity="danger"
                        styleClass="aspect-square size-[30px] sm:size-[32px]"
                        size="small"
                        title="Cancelar"
                        (click)="onCancelEditingPoints(student.state.id)"
                        [disabled]="isSavingPoints()"
                      >
                        <i-lucide
                          pButtonIcon
                          [img]="cancelIcon"
                          class="size-5"
                        />
                      </p-button>

                      <p-button
                        rounded
                        outlined
                        severity="success"
                        styleClass="aspect-square size-[30px] sm:size-[32px]"
                        size="small"
                        title="Aplicar cambios"
                        (click)="onApplyPointsChange(student.state.id)"
                        [disabled]="
                          isSavingPoints() ||
                          editingStudent.currentPoints ===
                            editingStudent.originalPoints
                        "
                      >
                        <i-lucide
                          pButtonIcon
                          [img]="applyIcon"
                          class="size-5"
                        />
                      </p-button>

                      @if (isSavingPoints()) {
                        <p-progress-spinner
                          ariaLabel="loading"
                          strokeWidth="4"
                          [style]="{
                            width: '24px',
                            height: '24px',
                          }"
                        ></p-progress-spinner>
                      }
                    </div>
                  }
                </div>
              </td>
              <td class="min-w-12.5">
                <div class="flex items-center gap-2">
                  <p-button
                    rounded
                    outlined
                    severity="danger"
                    styleClass="aspect-square"
                    size="small"
                    title="Aplicar penalización"
                    (click)="onOpenApplyStudentPenaltyDialog(student.state.id)"
                  >
                    <i-lucide
                      pButtonIcon
                      [img]="applyPenaltyIcon"
                      class="size-5 ms:size-auto"
                    />
                  </p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="flex flex-col px-3.75 md:px-0">
      <h2 class="text-lg text-gray-700 font-bold mb-1 md:mb-2">
        Habilidades usadas
      </h2>

      <div class="flex flex-col gap-3 max-w-100 md:min-w-100 w-full 2xl:h-170 2xl:overflow-y-scroll">
        @if (!isStudentAbilitiesUsagesLoading()) {
          @for (
            studentAbilityUsage of studentAbilityUsages();
            track position;
            let position = $index
          ) {
            <gow-student-ability-usage-card
              [studentAbilityUsage]="studentAbilityUsage"
              colorScheme="danger"
            />
          } @empty {
            <div class="flex flex-col gap-4 items-center h-full mt-15">
              <img
                ngSrc="/assets/images/ability-uses-empty.png"
                priority
                width="800"
                height="678"
                class="w-55 md:w-70 aspect-[1.18]"
              />
              <span class="text-gray-700 text-center w-2/3 text-sm md:text-base"
                >Ningún estudiante ha usado alguna de sus habilidades</span
              >
            </div>
          }
        } @else {
          <div class="flex flex-col gap-1 items-center h-full mt-15">
            <p-progress-spinner
              ariaLabel="loading"
              strokeWidth="4"
              [style]="{ width: '50px', height: '50px' }"
            ></p-progress-spinner>
            <span class="text-gray-400 text-center">Cargando...</span>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<gow-apply-penalty-to-student-form-dialog
  [show]="showApplyStudentPenaltyDialog()"
  [studentPeriodStateId]="applyStudentPenaltySelected().studentPeriodStateId"
  [studentFullName]="applyStudentPenaltySelected().fullName"
  [currentProgressPoints]="applyStudentPenaltySelected().currentProgressPoints"
  (close)="onCloseApplyStudentPenaltyDialog()"
  (success)="onSuccessApplyPenaltyToStudent($event)"
/>

<p-toast position="top-right" />
