<section class="px-[26px] py-4 flex flex-col max-w-[110rem] mx-auto gap-5">
  <div class="flex flex-col gap-3">
    <gow-section-title color="danger">
      Grupo de tareas no entregadas

      <div actions>
        <p-button severity="danger" size="small" styleClass="aspect-square size-6" (click)="onOpenCreateHomeworkGroup()">
          <i-lucide pButtonIcon [img]="addIcon" class="size-5" />
        </p-button>
      </div>
    </gow-section-title>

    <p-table
      [value]="notDeliveredHomeworkGroups()"
      [loading]="isHomeworkGroupsLoading()"
      [scrollable]="true"
    >
      <ng-template #header>
        <tr>
          <th>Nombre</th>
          <th>Fecha de creación</th>
        </tr>
      </ng-template>

      <ng-template #body let-group>
        <tr
          class="hover:bg-gray-50 transition-colors cursor-pointer"
          routerLink="g/{{ group.id }}"
        >
          <td>{{ group.name }}</td>
          <td>{{ group.createdAt | date: "short" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="flex flex-col gap-3">
    <gow-section-title color="danger">
      Grupo de tareas entregadas
    </gow-section-title>

    <p-table
      [value]="deliveredHomeworkGroups()"
      [loading]="isHomeworkGroupsLoading()"
      [scrollable]="true"
    >
      <ng-template #header>
        <tr>
          <th>Nombre</th>
          <th>Fecha de creación</th>
          <th>Fecha de entrega</th>
          <th>Fecha límite</th>
        </tr>
      </ng-template>

      <ng-template #body let-group>
        <tr
          class="hover:bg-gray-50 transition-colors cursor-pointer"
          [routerLink]="group.id"
        >
          <td>{{ group.name }}</td>
          <td>{{ group.createdAt | date: "short" }}</td>
          <td>{{ group.deliveredAt | date: "short" }}</td>
          <td>
            @if (group.baseDateLimit !== null) {
              <div class="flex flex-col gap-1">
                <span>{{ group.baseDateLimit | date: "shortDate" }}</span>
                @if (isBaseDateLimitExpired(group.baseDateLimit)) {
                  <span class="text-xs text-red-500">Plazo finalizado</span>
                }
              </div>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>

<gow-homework-group-form-dialog
  headerTitle="Crear grupo de tareas"
  buttonText="Guardar"
  [show]="showCreateHomeworkGroup()"
  (submit)="onCreateHomeworkGroup($event)"
  (close)="onCloseDialog()"
/>

<p-toast position="top-right" />
