<section class="px-6.5 py-4.5">
  <div class="flex justify-between items-center mb-3.5">
    <div class="flex items-center gap-3">
      <h1 class="text-3xl font-bold">Guerra de Sombras</h1>

      @if (experienceShiftRule(); as shift) {
        <p-tag [value]="classShiftFormats[shift]" severity="secondary" styleClass="text-base" />


        @if (shift != classShift.NIGHT) {
          <div>
            <button pButton severity="secondary" size="small" class="rounded-full" (click)="menu.toggle($event)">
              <i-lucide pButtonIcon [img]="optionsIcon" class="size-4.5" />
            </button>
            <p-menu #menu [model]="shadowWarfareOptions" [popup]="true"></p-menu>
          </div>
        }
      }
    </div>

    <button
      pButton
      severity="danger"
      class="rounded-xl"
      [loading]="isExperienceSessionEndingLoading()"
      (click)="onEndOfExperienceSession()"
      [disabled]="isRevivingStudentLoading() || isClassShiftUpdatingLoading()"
    >
      <i-lucide pButtonIcon [img]="stopIcon" class="fill-white" />
      <span pButtonLabel>Concluir experiencia</span>
    </button>
  </div>

  <div class="flex items-start gap-6 h-fit">
    <div class="flex-1 w-full">
      <h2 class="text-lg text-gray-700 font-bold mb-2">Estudiantes</h2>

      <p-table
        scrollHeight="680px"
        [value]="students()"
        [loading]="isStudentsLoading() || isCharactersLoading() || isTeamsLoading()"
        [scrollable]="true"
      >
        <ng-template #header>
          <tr>
            <th>Nombre completo</th>
            <th>Personaje</th>
            <th>Equipo</th>
            <th>Puntos de vida</th>
            <th>Acciones</th>
          </tr>
        </ng-template>

        <ng-template #body let-student>
          <tr>
            <td [class.text-red-500]="student.healthPoints === 0" [class.line-through]="student.healthPoints === 0">{{ student.lastName }} {{ student.firstName }}</td>
            <td>{{ getCharacterName(student.characterId) }}</td>
            <td>{{ getTeamName(student.teamId) }}</td>
            <td>{{ student.healthPoints }}</td>
            <td class="flex items-center gap-2">
              @if (student.healthPoints > 0) {
                <p-button
                  rounded
                  outlined
                  severity="info"
                  styleClass="aspect-square"
                  size="small"
                  title="Modificar puntos de vida"
                  [disabled]="isRevivingStudentLoading()"
                  (click)="onOpenModifyStudentHealthPointsDialog(student.id)"
                >
                  <i-lucide pButtonIcon [img]="modifyHealthPointsIcon" />
                </p-button>

                <p-button
                  rounded
                  outlined
                  severity="danger"
                  styleClass="aspect-square"
                  size="small"
                  title="Eliminar estudiante por votación"
                  [disabled]="isRevivingStudentLoading()"
                  (click)="onOpenEliminateStudentByVotesDialog(student.id)"
                >
                  <i-lucide pButtonIcon [img]="eliminateForVotesIcon" />
                </p-button>
              } @else {
                <p-button
                  rounded
                  outlined
                  severity="success"
                  styleClass="aspect-square"
                  size="small"
                  title="Revivir estudiante"
                  [disabled]="isRevivingStudentLoading()"
                  (click)="onOpenReviveStudent(student.id, $event)"
                >
                  <i-lucide pButtonIcon [img]="reviveIcon" />
                </p-button>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div>
      <h2 class="text-lg text-gray-700 font-bold mb-2">Habilidades usadas</h2>

      <div class="flex flex-col gap-3 w-100 overflow-y-scroll h-170">
        @if (!isStudentAbilitiesUsagesLoading()) {
          @for (studentAbilityUsage of studentAbilityUsages(); track studentAbilityUsage.id) {
            <gow-student-ability-usage-card [studentAbilityUsage]="studentAbilityUsage" colorScheme="danger" />
          } @empty {
            <div class="flex flex-col gap-4 items-center h-full mt-15">
              <img ngSrc="/assets/images/ability-uses-empty.png" priority width="800" height="678" class="w-70 aspect-[1.18]" />
              <span class="text-gray-700 text-center w-2/3">Ningún estudiante ha usado alguna de sus habilidades</span>
            </div>
          }
        } @else {
          <div class="flex flex-col gap-1 items-center h-full mt-15">
            <p-progress-spinner
              ariaLabel="loading"
              strokeWidth="4"
              [style]="{ width: '50px', height: '50px' }"
            ></p-progress-spinner>
            <span class="text-gray-400 text-center">Cargando...</span>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<gow-modify-student-health-points-form-dialog
  [show]="showModifyStudentHealthPointsDialog()"
  [studentPeriodStateId]="modifyStudentHealthPointsSelected().periodStateId"
  [studentFullName]="modifyStudentHealthPointsSelected().fullName"
  [currentStudentHealthPoints]="modifyStudentHealthPointsSelected().currentHealthPoints"
  (close)="onCloseModifyStudentHealthPointsDialog()"
  (success)="onSuccessModifyStudentHealthPoints($event)"
/>

<gow-eliminate-student-by-votes-form-dialog
  [show]="showEliminateStudentByVotesDialog()"
  [studentPeriodStateId]="eliminateStudentByVotesSelected().periodStateId"
  [studentFullName]="eliminateStudentByVotesSelected().fullName"
  (close)="onCloseEliminateStudentByVotesDialog()"
  (success)="onSuccessEliminateStudentByVotes($event)"
/>

<p-confirm-dialog [draggable]="false" [closable]="false" />

<p-toast position="top-right" />
